@font-face {
  font-family: vazir;
  src: url("/fonts/vazir/Vazir-Bold.eot") format("eot"), url("/fonts/vazir/Vazir-Bold.ttf") format("ttf"), url("/fonts/vazir/Vazir-Bold.woff") format("woff"), url("/fonts/vazir/Vazir-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: vazir;
  src: url("/fonts/vazir/Vazir.eot") format("eot"), url("/fonts/vazir/Vazir.ttf") format("ttf"), url("/fonts/vazir/Vazir.woff") format("woff"), url("/fonts/vazir/Vazir.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: vazir;
  src: url("/fonts/vazir/Vazir-Black.eot") format("eot"), url("/fonts/vazir/Vazir-Black.ttf") format("ttf"), url("/fonts/vazir/Vazir-Black.woff") format("woff"), url("/fonts/vazir/Vazir-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: vazirLight;
  src: url("/fonts/vazir/Vazir-Light.eot") format("eot"), url("/fonts/vazir/Vazir-Light.ttf") format("ttf"), url("/fonts/vazir/Vazir-Light.woff") format("woff"), url("/fonts/vazir/Vazir-Light.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: vazir;
  src: url("/fonts/vazir/Vazir-Medium.eot") format("eot"), url("/fonts/vazir/Vazir-Medium.ttf") format("ttf"), url("/fonts/vazir/Vazir-Medium.woff") format("woff"), url("/fonts/vazir/Vazir-Medium.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: vazir;
  src: url("/fonts/vazir/Vazir-Thin.eot") format("eot"), url("/fonts/vazir/Vazir-Thin.ttf") format("ttf"), url("/fonts/vazir/Vazir-Thin.woff") format("woff"), url("/fonts/vazir/Vazir-Thin.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: byekan;
  src: url("/fonts/byekan/BYekan+.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: byekan;
  src: url("/fonts/byekan/BYekan+ Bold.ttf") format("ttf");
  font-weight: bold;
}
body {
  direction: rtl;
  text-align: right;
  font-family: vazir;
  font-size: 14px;
  color: #333;
  background-color: #eee;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  margin: 15px auto;
  border: 1px solid #dcdcdc;
  text-align: right;
  word-wrap: break-word;
  background-color: #fff;
  transition: 0.4s;
}
.post:hover {
  border: 1px solid #ffa500;
  box-shadow: 5px 10px 8px #989d99;
}
.post .post-badge {
  float: right;
  padding-bottom: 6px;
  line-height: 1.7;
}
.post .post-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-around;
}
.post .post-code {
  clear: both;
  width: 124px;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: right;
  font-weight: bold;
  color: #666666;
}
.post .post-code-number {
  text-decoration: underline;
}
.post .post-price {
  padding-bottom: 8px;
  margin-bottom: 0;
  word-wrap: break-word;
  text-align: right;
  font-size: 22px;
  color: #2e8f7b;
}
.post .post-title {
  padding-top: 10px;
  font-size: 18px;
  text-shadow: 2px 2px 3px #989d99;
  text-align: right;
  font-weight: bold;
}
.post .post-location {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: right;
  font-weight: 600;
  color: #989d99;
}
.post .post-label::after {
  content: "";
  clear: both;
  display: table;
}
.post .post-img-holder {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 70%;
}
.post .post-img-2img .post-img-front {
  opacity: 1;
}
.post .post-img-2img .post-img-back {
  opacity: 0;
}
.post .post-img-2img:hover .post-img-back {
  opacity: 1;
}
.post .post-img-2img:hover .post-img-front {
  opacity: 0;
}
.post .post-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: opacity 2s;
}
.post .post-img-zoom {
  overflow: hidden;
}
.post .post-img-zoom:hover .post-img {
  transform: scale(1.2);
}
.post .post-zoom-transition {
  transition: transform 0.3s ease;
}
.post .post-footer {
  display: inline-flex;
  border-top: 1px solid #dee2e6;
  padding-top: 6px;
  padding-bottom: 6px;
  justify-content: space-around;
  text-align: center;
}
.post .post-bottom-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/img.jpg");
}
.post .post-detail {
  font-size: 12px;
  font-family: vazir;
  font-weight: normal;
  text-align: center;
  color: #989d99;
  padding-top: 12px;
}

/*# sourceMappingURL=style.css.map */
