@font-face {
  font-family: vazir;
  src: url("/fonts/vazir/Vazir-Bold.eot") format("eot"),
  url("/fonts/vazir/Vazir-Bold.ttf") format("ttf"),
  url("/fonts/vazir/Vazir-Bold.woff") format("woff"),
  url("/fonts/vazir/Vazir-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: vazir;
  src:url("/fonts/vazir/Vazir.eot") format("eot"),
  url("/fonts/vazir/Vazir.ttf") format("ttf"),
  url("/fonts/vazir/Vazir.woff") format("woff"),
  url("/fonts/vazir/Vazir.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: vazir;
  src:url("/fonts/vazir/Vazir-Black.eot") format("eot"),
url("/fonts/vazir/Vazir-Black.ttf") format("ttf"),
url("/fonts/vazir/Vazir-Black.woff") format("woff"),
url("/fonts/vazir/Vazir-Black.woff2") format("woff2");
  font-weight: 900;

}
@font-face {
  font-family: vazirLight;
  src:url("/fonts/vazir/Vazir-Light.eot") format("eot"),
url("/fonts/vazir/Vazir-Light.ttf") format("ttf"),
url("/fonts/vazir/Vazir-Light.woff") format("woff"),
url("/fonts/vazir/Vazir-Light.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: vazir;
  src:url("/fonts/vazir/Vazir-Medium.eot") format("eot"),
url("/fonts/vazir/Vazir-Medium.ttf") format("ttf"),
url("/fonts/vazir/Vazir-Medium.woff") format("woff"),
url("/fonts/vazir/Vazir-Medium.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: vazir;
  src:url("/fonts/vazir/Vazir-Thin.eot") format("eot"),
url("/fonts/vazir/Vazir-Thin.ttf") format("ttf"),
url("/fonts/vazir/Vazir-Thin.woff") format("woff"),
url("/fonts/vazir/Vazir-Thin.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
   font-family: byekan;
  src:url("/fonts/byekan/BYekan+.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: byekan;
  src:url("/fonts/byekan/BYekan+ Bold.ttf") format("ttf");
  font-weight: bold;
}

